/* Custom Colors */
$online: #2ed573;
$idle: #eccc68;
$dnd: #ff5252;

$icon-colors: #fc5c65, #eb3b5a, #fd9644, #fa8231, #fed330, #f7b731, #26de81, #20bf6b, #2bcbba, #0fb9b1, #45aaf2, #2d98da, #4b7bec, #3867d6, #a55eea, #8854d0;
$status-colors: $online, $idle, $dnd;

$username-widths: 5%, 10%, 15%;
$message-widths: 20%, 25%, 30%, 35%;
$channel-widths: 25%, 30%, 40%, 45%, 50%, 55%, 60%;

/* Core Colors */
$primary: #373943;
$secondary: #32343d;
$secondary-hover: #36383f;
$tertiary: #1e2025;
$quadary: #191b1f;

$primary-text-color: #fff;
$secondary-text-color: #ccc;

$ui-text-color: #a3a3ac;
$ui-input-bg-color: #4e4f59;
